.selector-button {
  margin: 1px;
  padding: 8px 12px;
  background: gainsboro;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
  &:hover {
    background: whitesmoke;
  }
}

.expanded-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 14px 1px;
  padding: 8px 12px;
  background: gainsboro;
  border-radius: 4px;
}

.selection {
  margin: 4px 0;
  cursor: pointer;
}
