<span (click)="switch()" class="selector-button">
  <span *ngIf="level===0">请选择行政区域</span>
  <span *ngFor="let part of address; let i=index">
    {{ part }}
  </span>
</span>

<span *ngIf="address[0]" (click)="clear()" class="selector-button">清空</span>

<div *ngIf="expanded && current" class="expanded-box">
  <input type="text" [(ngModel)]="keyword" placeholder="搜索行政区划">

  <div *ngFor="let selection of current; let i=index" class="selection">
    <span (click)="select(i)">{{ selection.name | contain:keyword }}</span>
  </div>
</div>
